
.metadata/*

*.DS_Store

.DS_Store

*.xcworkspacedata

*.xcuserstate

*.xcscheme

*/xcschememanagement.plist

HelloBox2D/box2d.xcodeproj/xcuserdata/hanson.xcuserdatad/xcschemes/xcschememanagement.plist

HelloCocos2dJSBinding/Cocos2DSimpleGame/Platform/iOS/Cocos2DSimpleGame/Cocos2DSimpleGame.xcodeproj/xcuserdata/hanson.xcuserdatad/xcschemes/xcschememanagement.plist

HelloCocos2dJSBinding/Cocos2DSimpleGame/Platform/OSX/Cocos2DSimpleGame/Cocos2DSimpleGame.xcodeproj/xcuserdata/hanson.xcuserdatad/xcschemes/xcschememanagement.plist

HelloBreakout/Breakout.xcodeproj/xcuserdata/hanson.xcuserdatad/xcschemes/xcschememanagement.plist
