
.metadata/*

*.DS_Store

.DS_Store

*.xcworkspacedata

*.xcuserstate

*.xcscheme

*/xcschememanagement.plist

HelloBox2D/box2d.xcodeproj/xcuserdata/hanson.xcuserdatad/xcschemes/xcschememanagement.plist
